---
import { Icon } from "astro-icon/components";
import GalaxieSVG from "./logo/logo.svg";
import { Image } from "astro:assets";
import surgicalTable from "../assets/hero/surgical-table.png";
import surgicalLamp from "../assets/hero/surgical-lamp.webp";
import trolley from "../assets/hero/trolley.webp";
import monitor from "../assets/hero/monitor.webp";
import autoclaveLarge from "../assets/hero/autoclave-large.webp";
import gueridon from "../assets/hero/gueridon.webp";
import paravent from "../assets/hero/paravent.webp";
---

<section class="relative pt-28 pb-4 overflow-hidden">
  <div class="mx-auto relative z-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-8 items-center">
      <!-- Left Content -->
      <div
        class="h-full flex flex-col z-20 lg:ml-24 lg:px-0 text-center lg:text-left items-center lg:items-start col-start-1 row-start-1 lg:col-auto lg:row-auto pt-1"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <div class="mb-6">
          <h1
            class="text-4xl lg:text-5xl xl:text-6xl font-bold text-gray-900"
          >
            L'excellence médicale. <br />
            <span class="relative pr-4 inline-block">
              <span
                class="absolute inset-0 -skew-x-6 bg-blue-50/80 border border-blue-100 rounded-sm -z-10"
              ></span>
              <span class="text-primary font-extrabold tracking-tight"
                >Sans compromis.</span
              >
            </span>
          </h1>
        </div>

        <ul class="flex flex-col gap-7 text-lg">
          <li class="flex items-center text-gray-700 gap-2">
            <div
              class="flex-shrink-0 rounded-full flex items-center justify-center text-primary"
            >
              <GalaxieSVG class="w-6" />
            </div>
            <span class="font-medium text-left">Conseil d’experts et démonstrations</span>
          </li>
          <li class="flex items-center text-gray-700 gap-2">
            <div
              class="flex-shrink-0 rounded-full flex items-center justify-center text-primary"
            >
              <GalaxieSVG class="w-6" />
            </div>
            <span class="font-medium text-left"
              >Support technique et garantie constructeur</span
            >
          </li>
          <li class="flex items-center text-gray-700 gap-2">
            <div
              class="flex-shrink-0 rounded-full flex items-center justify-center text-primary"
            >
              <GalaxieSVG class="w-6" />
            </div>
            <span class="font-medium text-left"
              >Installation professionnelle et suivi technique</span
            >
          </li>
        </ul>

        <div class="flex flex-wrap justify-center lg:justify-start pt-26 mx-auto">
          <a
            href="/galaxie-medicale/catalog"
            class="inline-flex items-center bg-primary text-white rounded-full font-semibold hover:bg-primary/90 hover:shadow-lg hover:shadow-primary/25 transition-all hover:-translate-y-1 py-4 px-4 gap-1"
            data-aos="fade-right"
            data-aos-delay="1400"
            data-aos-duration="2500"
          >
            Consultez notre catalogue
            <Icon name="heroicons:arrow-right" class="w-5 h-5" />
          </a>
        </div>
      </div>

      <!-- Right Content (Hero Scene) -->
      <div
        class="relative h-full lg:h-[600px] flex items-center justify-center perspective-1000 col-start-1 row-start-1 opacity-15 lg:opacity-100 pointer-events-none lg:pointer-events-auto lg:col-auto lg:row-auto"
      >
        <!-- Scene Container -->
        <div class="relative w-full h-full flex items-center justify-center">
          <div
            class="absolute top-0 right-0 -translate-x-1/2 w-[110px] md:w-[180px] z-30 origin-top"
          >
            <Image
              src={surgicalLamp}
              alt="Éclairage opératoire LED"
              class="w-full h-auto object-contain drop-shadow-2xl"
            />
          </div>

          <div class="absolute bottom-0 left-6 w-[420px] md:w-[550px] z-20">
            <Image
              src={surgicalTable}
              alt="Table chirurgicale électrique"
              class="w-full h-auto object-contain drop-shadow-2xl"
            />
          </div>

          <div
            class="absolute top-20 left-0 md:left-4 w-[100px] md:w-[140px] z-10 hidden md:block"
          >
            <Image
              src={monitor}
              alt="Moniteur multiparamétrique"
              class="w-full h-auto object-contain drop-shadow-xl"
            />
          </div>

          <!-- <div
            class="absolute bottom-10 -left-4 md:left-0 w-[130px] md:w-[160px] z-10 animate-float-delayed opacity-90 hover:opacity-100 transition-opacity duration-300"
          >
            <Image
              src={trolley}
              alt="Chariot médical"
              class="w-full h-auto object-contain drop-shadow-xl"
            />
          </div> -->

          <div
            class="absolute bottom-10 right-4 z-20 hidden md:block"
          >
            <Image
              src={autoclaveLarge}
              alt="Grand Autoclave"
              class="w-full h-auto object-contain drop-shadow-xl"
            />
          </div>

          <!-- <div
            class="absolute bottom-10 -left-4 md:left-0 w-[130px] md:w-[160px] z-10 animate-float-delayed opacity-90 hover:opacity-100 transition-opacity duration-300"
          >
            <Image
              src={gueridon}
              alt="Gueridon"
              class="w-full h-auto object-contain drop-shadow-xl"
            />
          </div> -->

          <div
            class="absolute bottom-0 -right-12 z-0 md:-right-12 h-full w-full hidden md:block"
          >
            <Image
              src={paravent}
              alt="Paravent"
              class="w-full h-auto object-contain drop-shadow-xl"
            />
          </div>

          <!-- Glass Card Stats (Floating) -->
          <div
            class="absolute bottom-0 right-8 bg-white/80 backdrop-blur-xl border border-white/60 p-4 rounded-2xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] max-w-[340px] z-40 hidden md:block"
          >
            <div class="flex flex-col gap-4">
              <!-- Stat 1 -->
              <div class="flex items-center align-right">
                <div class="text-xl font-bold text-primary w-14">
                  <span data-aos="fade" data-aos-duration="3000">+</span>
                  <span data-countup="152" class="countup">152</span>
                </div>
                <div data-aos="fade" data-aos-duration="3000" class="text-md font-medium text-gray-500">
                  partenaires médicaux
                </div>
              </div>

              <!-- Divider -->
              <div class="h-px w-full bg-gray-100"></div>

              <!-- Stat 2 -->
              <div class="flex items-center">
                <!-- <div
                  class="w-10 h-10 rounded-full bg-blue-50 flex items-center justify-center text-primary"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                    ></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"
                    ></polyline><line x1="12" y1="22.08" x2="12" y2="12"
                    ></line></svg
                  >
                </div> -->
                <div class="text-xl font-bold text-primary w-16">
                  <span data-aos="fade" data-aos-duration="3000">+</span>
                  <span data-countup="650" class="countup">650</span>
                </div>
                <div data-aos="fade" data-aos-duration="3000" class="text-md font-medium text-gray-500">
                  produits référencés
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Decorative Circle behind -->
        <div
          class="absolute inset-0 bg-gradient-to-tr from-blue-100/40 to-transparent rounded-full scale-90 -z-10 blur-2xl"
        >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .perspective-1000 {
    perspective: 1000px;
  }
</style>
