---
// import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
// import { Button } from "./ui/button";
// import { ArrowRight } from "lucide-react";
import { getImage } from 'astro:assets';
import Card from "./ui/Card.astro";
import CardHeader from "./ui/CardHeader.astro";
import CardTitle from "./ui/CardTitle.astro";
import CardDescription from "./ui/CardDescription.astro";
import CardContent from "./ui/CardContent.astro";
import { Icon } from "astro-icon/components";
import surgeryImage from "../assets/categories/surgery2.webp";
import lab1Image from "../assets/categories/lab1.webp";
import monitoring1Image from "../assets/categories/monitoring1.webp";
import surgery2Image from "../assets/categories/surgery2.webp";
import emergency1Image from "../assets/categories/emergency1.webp";
import sterilizationImage from "../assets/categories/sterilization.webp";
import accessoriesImage from "../assets/categories/accessories.webp";
import medicalFurnitureImage from "../assets/categories/medical-furniture.webp";

const categories = [
  {
    category: "medical_furniture",
    title: "Mobilier Médical",
    description: "Lits, chariots, et postes de travail adaptés aux environnements cliniques",
    icon: "🛏️",
    image: await getImage({src: medicalFurnitureImage, format: "webp"}),
  },
  {
    category: "diagnostic",
    title: "Diagnostic et Surveillance",
    description: "Appareils d’imagerie et de surveillance pour un diagnostic rapide et fiable",
    icon: "🔬",
    image: await getImage({src: monitoring1Image, format: "webp"}),
    // image: await getImage({src: surgeryImage, format: "webp"}),
  },
  {
    category: "emergency",
    title: "Équipements d’Urgence",
    description: "Matériel essentiel pour la gestion immédiate des situations critiques",
    icon: "🚑",
    image: await getImage({src: emergency1Image, format: "webp"}),
  },

  {
    category: "surgery",
    title: "Blocs Opératoires et Chirurgie",
    description: "Outils de chirurgie stérilisables pour interventions générales ou spécialisées",
    icon: "🏥",
    image: await getImage({src: surgery2Image, format: "webp"}),
  },
  // {
  //   category: "laboratory_equipment",
  //   title: "Équipements de Laboratoire",
  //   description: "Instruments pour analyses biologiques, chimiques et cliniques en laboratoire",
  //   icon: "⚗️",
  //   image: await getImage({src: lab1Image, format: "webp"}),
  // },
  // {
  //   category: "patient_monitoring",
  //   title: "Surveillance des Patients",
  //   description: "Dispositifs de suivi en temps réel des signes vitaux et états cliniques",
  //   icon: "📊",
  //   image: await getImage({src: monitoring1Image, format: "webp"}),
  // },
  {
    category: "sterilisation",
    title: "Matériel de Stérilisation",
    description: "Autoclaves, laveurs-désinfecteurs et consommables pour l’asepsie médicale",
    icon: "🧼",
    image: await getImage({src: sterilizationImage, format: "webp"}),
  },
  // {
  //   category: "therapy_equipment",
  //   title: "Dispositifs de Thérapie",
  //   description: "Appareils pour traitements respiratoires, physiques et autres thérapies",
  //   icon: "💊",
  //   image: await getImage({src: monitoring1Image, format: "webp"}),
  // },
  {
    category: "accessories_consumables",
    title: "Accessoires et Consommables",
    description: "Éléments complémentaires pour utilisation quotidien des dispositifs médical",
    icon: "🩺",
    image: await getImage({src: accessoriesImage, format: "webp"})
  },
];
---

<section id="categories" class="py-10 px-4 sm:px-6 lg:px-8 shadow-md shadow-primary/10 bg-gray-50/80 scroll-mt-10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-3xl sm:text-4xl font-bold text-gray-900 mb-4 underline">
        Nos Catégories d'Équipements
        <!-- ...ou découvrez nos produits par catégorie... -->
      </h2>
      <!-- <p class="text-lg text-gray-600">
        Découvrez notre large gamme complète d’équipements médicaux
      </p> -->
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        categories.map((category, index) => (
          <a href={`/galaxie-medicale/catalog/${category.category}`} data-aos="fade-up" data-aos-duration="1000">
            <Card
              key={index}
              class="group transition-shadow hover:shadow-lg cursor-pointer transition-all duration-300 transform hover:-translate-y-1 border-0 shadow-md bg-cover bg-center bg-no-repeat min-h-96 md:min-h-124"
              style={`background-image: url('${category.image.src}');`}
            >
              <CardHeader className="text-center pb-2 bg-white opacity-90">
                {/* <div class="text-4xl mb-3">{category.icon}</div> */}
                <CardTitle className="text-xl font-semibold text-gray-900">
                  {category.title}
                </CardTitle>
                <CardDescription className="text-gray-600">
                  {category.description}
                </CardDescription>
              </CardHeader>
              <CardContent className="justify-between text-center">
                <div class="flex items-center gap-1 absolute bottom-4 right-4 bg-white/80 text-blue-500 font-medium px-3 py-1 rounded-md backdrop-blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  Voir Produits
                  <Icon name="heroicons:arrow-right" />
                </div>
              </CardContent>
            </Card>
          </a>
        ))
      }
    </div>
  </div>
</section>

<!-- <style>
  .fade-in {
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 4s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style> -->